.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 30px;
}

.card {
  width: 100%;
  height: auto;
  border-radius: 30px !important;
  background-color: #E8E6F6;
  box-shadow: none;
  border: 1px solid #E8E6F6;
}

h2, a {
  color: #6B5B95;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
